body, html {
  width: 100%;
  height: 100%;
}

.dark {
  color: white;
  background: black;
}

#content {
  display: block;
  width: 100%;
  height: 100%;
  border: 2px inset;
  background: transparent;
  color: inherit;
}
